.centered {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.animation-description {
    align-self: center;
    font-size: 1.25rem;
    max-width: 350px;
    font-family: sans-serif;
    text-align: left;
}

.code {
    margin: 250px;
    align-self: center;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.code-snippet {
    border: 2px solid #000;
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size: 1.5rem;
    flex: 1;
    overflow-x: scroll;
}

.header-copy {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.code-header {
    border-radius: 5px;
    padding: 10px;
    background-color: #000;
    color: #fff;
}

.copy-button {
    border-radius: 5px;
    padding: 10px;
    background-color: #86A3C3;
}

.copy-button:hover {
    cursor: pointer;
}

.align-left {
    text-align: left;
    margin-right: 20px;
}

@media screen and (max-width: 1150px) {
    .code {
        flex-direction: column;
    }
}